<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div
            class="row d-flex align-items-center justify-content-center h-100"
          >
            <div class="col-md-6 col-lg-7 col-xl-6 col-12 col-sm-4">
              <img
                src="/assets/images/Video-call-bro.svg"
                class="img-fluid"
                alt="Phone image"
              />
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 col-12 col-sm-8">
              <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="username"
                    >Ingresa tu usuario</label
                  >
                  <input
                    type="email"
                    id="username"
                    class="form-control form-control-lg"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid': f['email'].errors && f['email'].touched
                    }"
                  />
                  <div
                    *ngIf="f['email'].errors && f['email'].touched"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['required']"
                    >
                      El email es requerido.
                    </p>
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['pattern']"
                    >
                      esto no parece un email correcto.
                    </p>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="contrasena">Contraseña</label>
                  <input
                    type="password"
                    id="contrasena"
                    class="form-control form-control-lg"
                    autocomplete="off"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': submitted && f['password'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['password'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['password'].errors['required']"
                    >
                      la contraseña es requerido.
                    </p>
                  </div>
                </div>
                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-primary d-flex justify-content-center"
                >
                  Ingresar
                </button>
                <p class="text-center mt-5">
                  No tienes una cuenta?
                  <a routerLink="/auth/sign-up">Registrate aqui.</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
