<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div
            class="row d-flex align-items-center justify-content-center h-100"
          >
            <div class="order-md-1 col-md-6 col-lg-7 col-xl-6 col-12 col-sm-12">
              <img
                src="/assets/images/Video-call-rafiki.svg"
                class="img-fluid"
                alt="Phone image"
              />
            </div>
            <div class="order-md-0 col-md-6 col-lg-5 col-xl-6 col-12 col-sm-12">
              <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Ingresa tu Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid': f['email'].errors && f['email'].touched
                    }"
                  />
                  <div
                    *ngIf="f['email'].errors && f['email'].touched"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['required']"
                    >
                      El email es requerido.
                    </p>
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['pattern']"
                    >
                      esto no parece un email correcto.
                    </p>
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['emailFound']"
                    >
                      El correo ya se encuentra registrado.
                    </p>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="username"
                    >Ingresa tu usuario</label
                  >
                  <input
                    type="email"
                    id="username"
                    class="form-control form-control-lg"
                    formControlName="username"
                    [ngClass]="{
                      'is-invalid': f['email'].touched && f['username'].errors
                    }"
                  />
                  <div
                    *ngIf="f['email'].touched && f['username'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['username'].errors['required']"
                    >
                      El username es requerido.
                    </p>
                    <p
                      class="validation-error"
                      *ngIf="f['username'].errors['usernameFound']"
                    >
                      El usuario ya se encuentra registrado.
                    </p>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="contrasena">Contraseña</label>
                  <input
                    type="password"
                    id="contrasena"
                    class="form-control form-control-lg"
                    autocomplete="off"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': submitted && f['password'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['password'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['password'].errors['required']"
                    >
                      la contraseña es requerido.
                    </p>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="passwordConfirm"
                    >Confirmar contraseña</label
                  >
                  <input
                    type="password"
                    id="passwordConfirm"
                    class="form-control form-control-lg"
                    autocomplete="off"
                    formControlName="passwordConfirm"
                    [ngClass]="{
                      'is-invalid': submitted && f['passwordConfirm'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['passwordConfirm'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['passwordConfirm'].errors['required']"
                    >
                      la contraseña es requerido.
                    </p>
                    <p
                      class="validation-error"
                      *ngIf="
                        f['passwordConfirm'].errors['passwordsNotMatching']
                      "
                    >
                      Passwords don't match.
                    </p>
                  </div>
                </div>
                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-primary d-flex justify-content-center"
                >
                  Registrarse
                </button>

                <p>
                  Ya estas registrado?
                  <a routerLink="/auth/login">iniciar session</a>
                </p>
                <!-- <div class="divider d-flex justify-content-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
                </div> -->

                <!-- <a
                  class="btn btn-primary d-block mb-3"
                  style="background-color: #3b5998"
                  href="#!"
                  role="button"
                >
                  <i class="fab fa-facebook-f me-2"></i>Contina con Facebook
                </a>
                <a
                  class="btn btn-primary d-block"
                  style="background-color: #55acee"
                  href="#!"
                  role="button"
                >
                  <i class="fab fa-twitter me-2"></i>Continue con Google</a
                > -->
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
