<form [formGroup]="myForm">
  <input
    formControlName="state"
    [typeahead]="suggestions$"
    [typeaheadOptionsLimit]="7"
    [typeaheadMinLength]="0"
    [optionsListTemplate]="customListTemplate"
    placeholder="Ingresa el usuario"
    class="form-control"
    [isAnimated]="true"
  />
</form>
<ng-template #customListTemplate>
  <ul class="custom-list-group" [class.dropdown-menu]="isBs3">
    <li
      class="custom-list-group-item"
      *ngFor="let match of suggestions$ | async"
      (click)="addUserToForm(match)"
    >
      {{ match.username }}
    </li>
  </ul>
</ng-template>

<div
  class="mt-3 d-flex flex-wrap justify-content-center"
  *ngIf="users.length > 0"
>
  <span
    *ngFor="let user of users"
    class="badge rounded-pill bg-primary px-2 py-2 mx-1 my-2"
    >{{ user?.username }}
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="removeUserFromForm(user)"
    ></button
  ></span>
</div>
