.custom-list-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.custom-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
}

.custom-list-group-item:hover {
  z-index: 2;
  color: #fff;
  background-color: #ff4461;
  border-color: #ff4461;
  cursor: pointer;
}
