.messages-box,
.chat-box {
  overflow-y: scroll;
  /* background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%); */
  height: 500px;
}

h3 {
  padding: 0px;
  padding-top: -10px;
  margin: 0px;
}

img {
  height: 400px;
}

.message {
  height: 475px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: lightgrey darkgrey;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #00cbed;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00cbed;
}

.badge-participantes {
  background-color: aqua;
  border-radius: 20px;
  font-size: 22px;
}

input {
  height: 60px;
  border: 1px solid #9d9a9a;

}
