<div *ngIf="chatRoom; else no_chatroom_selected">
  <div>
    <span style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      " class="px-3 mt-3">
      <h4> Bienvenido a la sala: {{ chatRoom.name }} <br>
        <p style="color: grey;font-size: 16px;">{{ chatRoom.description }}</p>
      </h4>

      <span style="display: flex; flex-direction: row; align-items: center">
        <p>Creada</p>
        <p style="margin-left: 10px">{{ chatRoom.updated_at | date }}</p>
      </span>
    </span>
    <span class="mx-2">
      participantes: <br>
    </span>
    <span class="mx-5">

      <span class="px-2 mx-2 badge-participantes" *ngFor="let user of chatRoom.users">{{ user.username }} </span>
    </span>
  </div>
  <hr>
  <div #messages class="message mt-1">
    <span *ngFor="let message of (messagesPaginate$ | async)?.items">
      <app-message [message]="message"></app-message>
    </span>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="bg-light mx-2">
    <div class="input-group">
      <input formControlName="text" type="text" placeholder="Type a message" aria-describedby="button-addon2"
        class="form-control" [ngClass]="{
          'is-invalid': sumbitted && f['text'].errors
        }" />
      <div class="input-group-append ">
        <button id="button-addon2" type="submit" class="btn btn-outline-secondary">
          <i class="fa fa-paper-plane" style="font-size: 46px;"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #no_chatroom_selected>
  <div class="mt-5 pt-5 d-flex justify-content-center flex-column ">
    <img class="text-center" src="/assets/images/main.svg" alt="select-room" />
    <h1 class="display-5 text-center">No Hay sala de chat seleccionada</h1>
  </div>
</ng-template>
