.text-small {
  font-size: 0.9rem;
}

.background_header {
  width: 100%;
  height: 20vh;
  background-color: #74ebd5;
}

.background_body {
  height: 80vh;
  background: #e0e0e0;
}

.chatContainer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  margin: auto;
  width: 87%;
  height: 95%;
  background-color: #ffffff;
  right: 0px;
  left: 0px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-sidebar {
  height: 100vh;
  background-color: #ddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
