<div class="d-flex">
  <div class="col-5 col-lg-3 col-md-5 col-sm-5  ps-1 card-sidebar">
    <app-sidebar (selectRoom)="onSelectRoom($event)"></app-sidebar>
  </div>
  <div class="col-7 col-lg-9 col-md-7 col-sm-7  ">
    <app-room [chatRoom]="selectRoom"></app-room>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row rounded-lg overflow-hidden shadow">

  </div>
</div> -->
