<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="roomForm" (ngSubmit)="onSumbit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Nombre de la sala</label
          >
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            [ngClass]="{
              'is-invalid': f['name'].touched && f['name'].errors
            }"
          />
          <div
            *ngIf="f['name'].touched && f['name'].errors"
            class="invalid-feedback mt-0"
          >
            <p class="validation-error" *ngIf="f['name'].errors['required']">
              el nombre de la sala es requerido.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Descripcion</label
          >
          <input
            formControlName="description"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            [ngClass]="{
              'is-invalid': f['description'].touched && f['description'].errors
            }"
          />
          <div
            *ngIf="f['description'].touched && f['description'].errors"
            class="invalid-feedback mt-0"
          >
            <p
              class="validation-error"
              *ngIf="f['description'].errors['required']"
            >
              la description de la sala es requerido.
            </p>
          </div>
        </div>
        <app-select-user
          [users]="usersArr.value"
          (addUser)="addUser(initUser($event))"
          (removeuser)="removeUser($event.id)"
        ></app-select-user>
        <div
          *ngIf="submitted && usersArr.length === 0"
          class="invalid-feedback mt-0"
        >
          <p class="validation-error">debe agregar al menus a un usuario.</p>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Crear Sala</button>
      </form>
    </div>
  </div>
</div>
