<div class="px-2 chat-box mb-2">
  <div class="d-flex justify-content-end align-items-center mb-3" *ngIf="compareUsers()">
    <div class="media-body ml-3">
      <div class="bg-info rounded py-2 px-3 mb-2 d-flex justify-content-end">
        <p class="small mb-0 mx-3 text-white">
          {{ message.text }}
        </p>
        <p class="small mb-0 text-white">
          {{ message.created_at | date: "h:mm a  " }}
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start mb-3" *ngIf="!compareUsers()">
    <div>
      <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle" />
    </div>
    <div class="media-body">
      <div class="bg-primary rounded py-2 px-3 mb-2 d-flex align-items-end justify-content-start">
        <div>
          <p class="text-right mb-0">{{ message.user?.username }}</p>

          <p class="text-small mb-0 text-white">
            {{ message.text }}
          </p>
        </div>
        <p class="small text-white mb-0 ms-3">
          {{ message.created_at | date: "h:mm a  " }}
        </p>
      </div>
    </div>
  </div>
</div>
