<div class="bg-items">
  <div class="px-4 py-2 mt-3">
    <h5>Hola {{username}}, Bienvenido de nuevo.</h5>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" (click)="openModalWithComponent()">
        Crear Sala de Chat
      </button>
    </div>

  </div>

  <div class="messages-box">
    <div class="list-group rounded-0">
      <a class="list-group-item px-0 " *ngFor="let room of  rooms " (click)="onSelectRoom(room)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 col-lg-3 col-md-3">
              <img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="100%"
                style="height: 60px;" class="rounded-circle" />
            </div>
            <div class="col-6 col-lg-9 col-md-9">
              <div class="media-body ml-4">
                <div class="d-flex align-items-center justify-content-between mb-1 mt-3">
                  <h6 class="mb-0"> {{ room.name }}</h6>

                </div>
                <h6 class="mb-3"> {{ room.description }}</h6>
                <small class="small date-chat">{{ room.created_at |date }}</small>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
