.bg-items {
  background-color: #ddd;
}

.list-group-item {
  z-index: 2;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  cursor: pointer;
  overflow: hidden;
}

.date-chat {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.list-group-item:hover {
  z-index: 2;
  cursor: pointer;

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 11;
}
